.settingsBackground {

    &__bgRow {
        margin: 10px 0 0 0;
        width: 100%;
        display: flex;
    }

    &__bgCol {
        transition: 0.1s;
        width: 100%;
        display: flex;
        flex: 1 1 50%;

        img {
            width: 100%;
        }
    }

    &__bgCol:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}